@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";


label {
	display: inline-block;
	width: 100px;
}

.erreur {
	color: red;
}

.supp {
	cursor:pointer;
	color: red;
}

.modif{
	cursor:pointer;
	color: green;
}

.tri{
	cursor:pointer;
}


.rouge {
	color: red;
}

.vert {
	color: green;
}

td {
	color: green;
	text-align: center;
}